## Next things to do:

### 1. Explore more closely the open_hours column. How to clean/standardize this? 
    -are the hours correct by time zone? 
    -idea: make 2 separate columns, one with open_hour and one with closed_hour 
    -don't need info for every day of week, just want to know the EARLIEST they open 
    -how are stores that are open 24 hours represented? 
    -when stores are closed for whole day, how is that represented? 
    -do I need Regex for this? 

### 2. Latitude and Longitude Function 
    -read up on dealing with geolocation/lat and long in Python
    -Jan: find a function that computes for each row, compare latitude and longitude to other rows
    
### 3. Change the "country" column initials to the full name of the country 
    -Not sure how important this is. Would make it easier for me to read, but maybe time consuming

### 4. Find population data by city (2021) API, Web scraping 
    -What city has the highest number of starbucks per capita? 
    
### 5. More Exploratory Data Analysis 
    -features: city, country, lat,long, open hours

In [2]:
import pandas as pd

pop_data =pd.read_csv('pop_data.csv')
pop_data

      rank        Name        Country  Population      Prev  Growth
0        1       Tokyo          Japan    37274000  37339804 -0.0018
1        2       Delhi          India    32065760  31181376  0.0284
2        3    Shanghai          China    28516904  27795702  0.0259
3        4       Dhaka     Bangladesh    22478116  21741090  0.0339
4        5   Sao Paulo         Brazil    22429800  22237472  0.0086
...    ...         ...            ...         ...       ...     ...
1182  1183    Zhuanghe          China      502143    484394  0.0366
1183  1184       Latur          India      501664    490405  0.0230
1184  1185  Douai-Lens         France      501583    500921  0.0013
1185  1186       Omaha  United States      501469    493760  0.0156
1186  1187   Xuancheng          China      500734    484126  0.0343

[1187 rows x 6 columns]