In [21]:
def get_distance_from_lat_lon(lat1, lon1, lat2, lon2):
    import math
    from lat_lon_parser import parse

    R = 6373.0                              # radius of the Earth
    lat1r = math.radians(parse(str(lat1)))  # coordinates Home
    lon1r = math.radians(parse(str(lon1)))
    lat2r = math.radians(parse(str(lat2)))  # coordinates Sidney Opera House
    lon2r = math.radians(parse(str(lon2)))

    dlon = lon2r - lon1r                    # difference in coordinates
    dlat = lat2r - lat1r
    a = math.sin(dlat / 2)**2 + math.cos(lat1r) * math.cos(lat2r) * math.sin(dlon / 2)**2 # Haversine formula
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    return distance

distance = get_distance_from_lat_lon(52.168413,4.529004,"33°51\'37.2\"S","151°12\'54.5\"E" )
print(distance)

16680.16610502425

In [2]:
import pandas as pd
import numpy as np
# get list of locations
locs = pd.read_excel("capitals.xlsx")

In [3]:
locs.Capital = locs.Capital.fillna(" ")
locs.tail(20)

,Country,Capital,Latitude,Longitude
180,Tonga,Nuku'alofa,21°10'S,174°00'W
181,Tunisia,Tunis,36°50'N,10°11'E
182,Turkey,Ankara,39°57'N,32°54'E
183,Turkmenistan,Ashgabat,38°00'N,57°50'E
184,Tuvalu,Funafuti,08°31'S,179°13'E
185,Uganda,Kampala,00°20'N,32°30'E
186,Ukraine,Kiev (Rus),50°30'N,30°28'E
187,United Arab Emirates,Abu Dhabi,24°28'N,54°22'E
188,United Kingdom of Great Britain and Northern I...,London,51°36'N,00°05'W
189,United Republic of Tanzania,Dodoma,06°08'S,35°45'E
190,United States of America,Washington DC,39°91'N,77°02'W
191,United States of Virgin Islands,Charlotte Amalie,18°21'N,64°56'W
192,Uruguay,Montevideo,34°50'S,56°11'W
193,Uzbekistan,Tashkent,41°20'N,69°10'E
194,Vanuatu,Port-Vila,17°45'S,168°18'E
195,Venezuela,Caracas,10°30'N,66°55'W
196,Viet Nam,Hanoi,21°05'N,105°55'E
197,Yugoslavia,Belgrade,44°50'N,20°37'E
198,Zambia,Lusaka,15°28'S,28°16'E
199,Zimbabwe,Harare,17°43'S,31°02'E

In [24]:
%%time
nn_list = []
for i in locs.index:
    lat1 = locs.iloc[i].Latitude
    lon1 = locs.iloc[i].Longitude
    mindist = 1000000
    nneighbour = None
    for x in locs.itertuples():
        #if (x.Capital[0] == 'A'): # should be "if Country is the country for the current branch"
        if True:  #for comparison of time with checking everything
            try: 
                dist = get_distance_from_lat_lon(lat1, lon1, x.Latitude, x.Longitude)
            except:
                dist = 1000000
            #print(x.Index, dist, x.Latitude, x.Longitude)
            if dist > 0 and dist < mindist:
                #print("new closest neigbour ", x.Capital)    
                nneighbour = x.Capital
                mindist = round(dist)
    nn_list.append((locs.iloc[i].Capital, nneighbour, mindist))
    
print(len(nn_list))
print(nn_list)

200
[('Kabul', 'Islamabad', 378), ('Tirane', 'Skopje', 156), ('Algiers', 'Tunis', 628), ('Pago Pago', 'Apia', 130), ('Andorra la Vella', 'Madrid', 498), ('Luanda', 'Kinshasa', 547), ('W. Indies', 'Basseterre', 98), ('Buenos Aires', 'Montevideo', 392), ('Yerevan', "T'bilisi", 174), ('Oranjestad', 'Willemstad', 123), ('Canberra', 'Kingston', 1996), ('Vienna', 'Bratislava', 56), ('Baku', "T'bilisi", 449), ('Nassau', 'Havana', 555), ('Manama', 'Doha', 149), ('Dhaka', 'Thimphu', 428), ('Bridgetown', 'Kingstown', 181), ('Minsk', 'Vilnius', 166), ('Brussels', 'Amsterdam/The Hague (seat of Gvnt)', 175), ('Belmopan', 'Guatemala', 354), ('Porto-Novo (constitutional cotonou) (seat of gvnt)', 'Lome', 153), ('Thimphu', 'Dhaka', 428), ('La Paz (adm.)/sucre (legislative)', 'Lima', 1067), ('Sarajevo', 'Belgrade', 204), ('Gaborone', 'Pretoria (adm.) / Cap Town (Legislative) / Bloemfontein (Judicial)', 251), ('Brasilia', 'Asuncion', 1443), ('Road Town', 'Charlotte Amalie', 35), ('Bandar Seri Begawan', 'Manila', 1275), ('Sofia', 'Skopje', 176), ('Ouagadougou', 'Niamey', 413), ('Bujumbura', 'Kigali', 166), ('Phnom Penh', 'Bangkok', 530), ('Yaounde', 'Malabo', 305), ('Ottawa', 'Saint-Pierre', 1507), ('Praia', 'Dakar', 656), ('George Town', 'Havana', 434), ('Bangui', 'Yaounde', 779), ("N'Djamena", 'Abuja', 884), ('Santiago', 'Buenos Aires', 1031), ('Beijing', "P'yongyang", 791), ('Bogota', 'Quito', 739), ('Moroni', 'Mamoudzou', 248), ('Brazzaville', 'Kinshasa', 21), ('San Jose', 'Managua', 349), ('Yamoussoukro', 'Accra', 589), ('Zagreb', 'Ljubljana', 113), ('Havana', 'George Town', 434), ('Nicosia', 'Beirut', 240), ('Prague', 'Vienna', 255), ("P'yongyang", 'Seoul', 222), ('Kinshasa', 'Brazzaville', 21), ('Copenhagen', 'Berlin', 358), ('Djibouti', 'Addis Ababa', 461), ('Roseau', 'Basse-Terre', 82), ('Santo Domingo', 'Port-au-Prince', 248), ('Dili', 'Bandar Seri Begawan', 1892), ('Quito', 'Bogota', 739), ('Cairo', 'Jerusalem', 427), ('San Salvador', 'Guatemala', 171), ('Malabo', 'Yaounde', 305), ('Asmara', 'Djibouti', 594), ('Tallinn', 'Helsinki', 99), ('Addis Ababa', 'Djibouti', 461), ('Stanley', 'Buenos Aires', 1687), ('Torshavn', 'Reykjavik', 788), ('Suva', "Nuku'alofa", 856), ('Helsinki', 'Tallinn', 99), ('Paris', 'Brussels', 267), ('Cayenne', 'Paramaribo', 328), ('Papeete', 'Pago Pago', 2290), ('Libreville', 'Sao Tome', 311), ('Banjul', 'Dakar', 151), ("T'bilisi", 'Yerevan', 174), ('Berlin', 'Prague', 277), ('Accra', 'Lome', 171), ('Athens', 'Skopje', 492), ('Nuuk', 'Reykjavik', 1423), ('Basse-Terre', 'Roseau', 82), ('Guatemala', 'San Salvador', 171), ('St. Peter Port', 'London', 297), ('Conakry', 'Freetown', 124), ('Bissau', 'Banjul', 215), ('Georgetown', 'Paramaribo', 353), ('Port-au-Prince', 'Santo Domingo', 248), (' ', 'Nouakchott', 3917), ('Tegucigalpa', 'San Salvador', 214), ('Budapest', 'Bratislava', 165), ('Reykjavik', 'Torshavn', 788), ('New Delhi', 'Islamabad', 681), ('Jakarta', 'Kuala Lumpur', 1181), ('Tehran', 'Baku', 546), ('Baghdad', 'Kuwait', 540), ('Dublin', 'London', 461), ('Jerusalem', 'Amman', 66), ('Rome', 'San Marino', 224), ('Kingston', 'Port-au-Prince', 481), ('Amman', 'Jerusalem', 66), ('Astana', 'Bishkek', 952), ('Nairobi', 'Kampala', 511), ('Tarawa', 'Funafuti', 1310), ('Kuwait', 'Manama', 445), ('Bishkek', 'Tashkent', 494), ('Vientiane', 'Hanoi', 491), ('Riga', 'Vilnius', 261), ('Beirut', 'Damascus', 84), ('Maseru', 'Pretoria (adm.) / Cap Town (Legislative) / Bloemfontein (Judicial)', 403), ('Monrovia', 'Freetown', 369), ('Tripoli', 'Valletta', 366), ('Vaduz', 'Bern', 157), ('Vilnius', 'Minsk', 166), ('Luxembourg', 'Brussels', 188), ('Macau', 'Hanoi', 799), ('Antananarivo', 'Mamoudzou', 723), ('Lilongwe', 'Harare', 508), ('Kuala Lumpur', 'Phnom Penh', 1000), ('Male', 'Masqat', 2703), ('Bamako', 'Ouagadougou', 698), ('Valletta', 'Tripoli', 366), ('Fort-de-France', 'Castries', 63), ('Nouakchott', 'Antananarivo', 1056), ('Mamoudzou', 'Moroni', 248), ('Mexico', 'Guatemala', 1070), ('Palikir', 'Saipan', 1636), ('Chisinau', 'Bucuresti', 354), ('Maputo', 'Mbabane (Adm.)', 148), ('Yangon', 'Bangkok', 565), ('Windhoek', 'Gaborone', 936), ('Kathmandu', 'Thimphu', 436), ('Amsterdam/The Hague (seat of Gvnt)', 'Brussels', 175), ('Willemstad', 'Oranjestad', 123), ('Noumea', 'Port-Vila', 538), ('Wellington', 'Kingston', 662), ('Managua', 'Tegucigalpa', 241), ('Niamey', 'Ouagadougou', 413), ('Abuja', 'Malabo', 610), ('Kingston', 'Wellington', 662), ('Saipan', 'Koror', 1509), ('Oslo', 'Stockholm', 415), ('Masqat', 'Abu Dhabi', 440), ('Islamabad', 'Kabul', 378), ('Koror', 'Saipan', 1509), ('Panama', 'San Jose', 517), ('Port Moresby', 'Honiara', 1406), ('Asuncion', 'Montevideo', 1083), ('Lima', 'La Paz (adm.)/sucre (legislative)', 1067), ('Manila', 'Macau', 1152), ('Warsaw', 'Vilnius', 392), ('Lisbon', 'Madrid', 502), ('San Juan', 'Charlotte Amalie', 126), ('Doha', 'Manama', 149), ('Seoul', "P'yongyang", 222), ('Bucuresti', 'Sofia', 296), ('Moskva', 'Minsk', 679), ('Kigali', 'Bujumbura', 166), ('Basseterre', 'W. Indies', 98), ('Castries', 'Fort-de-France', 63), ('Saint-Pierre', 'Ottawa', 1507), ('Kingstown', 'Castries', 99), ('Apia', 'Pago Pago', 130), ('San Marino', 'Rome', 224), ('Sao Tome', 'Libreville', 311), ('Riyadh', 'Manama', 416), ('Dakar', 'Banjul', 151), ('Freetown', 'Conakry', 124), ('Bratislava', 'Vienna', 56), ('Ljubljana', 'Zagreb', 113), ('Honiara', 'Port-Vila', 1291), ('Mogadishu', 'Nairobi', 1027), ('Pretoria (adm.) / Cap Town (Legislative) / Bloemfontein (Judicial)', 'Gaborone', 251), ('Madrid', 'Andorra la Vella', 498), ('Khartoum', 'Asmara', 679), ('Paramaribo', 'Cayenne', 328), ('Mbabane (Adm.)', 'Maputo', 148), ('Stockholm', 'Tallinn', 383), ('Bern', 'Vaduz', 157), ('Damascus', 'Beirut', 84), ('Dushanbe', 'Tashkent', 311), ('Bangkok', 'Vientiane', 516), ('Skopje', 'Tirane', 156), ('Lome', 'Porto-Novo (constitutional cotonou) (seat of gvnt)', 153), ("Nuku'alofa", 'Pago Pago', 843), ('Tunis', 'Valletta', 402), ('Ankara', 'Nicosia', 534), ('Ashgabat', 'Tehran', 617), ('Funafuti', 'Suva', 1069), ('Kampala', 'Kigali', 374), ('Kiev (Rus)', 'Chisinau', 404), ('Abu Dhabi', 'Doha', 294), ('London', 'St. Peter Port', 297), ('Dodoma', 'Nairobi', 552), ('Washington DC', None, 1000000), ('Charlotte Amalie', 'Road Town', 35), ('Montevideo', 'Buenos Aires', 392), ('Tashkent', 'Dushanbe', 311), ('Port-Vila', 'Noumea', 538), ('Caracas', 'Willemstad', 287), ('Hanoi', 'Vientiane', 491), ('Belgrade', 'Sarajevo', 204), ('Lusaka', 'Harare', 387), ('Harare', 'Lusaka', 387)]
Wall time: 2.09 s

In [25]:
smallest = 1000000
for tup in nn_list:
    if tup[2] < smallest:
        town     = tup[0]
        closest  = tup[1]
        smallest = tup[2]
print(town, closest, smallest)

Brazzaville Kinshasa 21

In [6]:
sb = pd.read_csv('startbucks.csv')

In [7]:
sb.head()

,Unnamed: 0,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Kowloon,NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin","Shopping Centre, Wong Tai Sin, Kowloon",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638","Prince Edward Road East,",NaN,Kowloon,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,NaN,NaN,香港,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit","1 Trademart Drive, Kowloon Bay",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong

In [8]:
sb.dtypes

Unnamed: 0                  int64
storeNumber                object
countryCode                object
ownershipTypeCode          object
schedule                   object
slug                       object
latitude                  float64
longitude                 float64
streetAddressLine1         object
streetAddressLine2         object
streetAddressLine3         object
city                       object
countrySubdivisionCode     object
postalCode                 object
currentTimeOffset           int64
windowsTimeZoneId          object
olsonTimeZoneId            object
dtype: object

In [9]:
sb.isna().sum()

Unnamed: 0                    0
storeNumber                   0
countryCode                   0
ownershipTypeCode             0
schedule                   5085
slug                          0
latitude                      0
longitude                     0
streetAddressLine1            1
streetAddressLine2        20323
streetAddressLine3        23153
city                          1
countrySubdivisionCode        0
postalCode                  801
currentTimeOffset             0
windowsTimeZoneId             0
olsonTimeZoneId               0
dtype: int64

In [26]:
#version of function without the str conversion: lat and lon should already be numbers
def get_distance_from_lat_lon_num(lat1, lon1, lat2, lon2):
    import math

    R = 6373.0                              # radius of the Earth
    lat1r = math.radians(lat1) 
    lon1r = math.radians(lon1)
    lat2r = math.radians(lat2)  
    lon2r = math.radians(lon2)

    dlon = lon2r - lon1r                    # difference in coordinates
    dlat = lat2r - lat1r
    a = math.sin(dlat / 2)**2 + math.cos(lat1r) * math.cos(lat2r) * math.sin(dlon / 2)**2 # Haversine formula
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    return distance

In [ ]:
get_distance_from_lat_lon(52.168413,4.529004,"33°51\'37.2\"S","151°12\'54.5\"E" )
print(distance)

In [27]:
%%time
nn_list = []
#for i in sb.index:
for i in sb.index:
    lat1 = sb.iloc[i].latitude
    lon1 = sb.iloc[i].longitude
    country = sb.iloc[i].countryCode
    mindist = 1000000
    nneighbour = None
    for x in sb.itertuples():
        if (x.countryCode == country): 
        #if True:  #for comparison of time with checking everything
            try: 
                dist = get_distance_from_lat_lon_num(lat1, lon1, x.latitude, x.longitude)
            except:
                dist = 1000000
            #print(x.Index, dist, x.Latitude, x.Longitude)
            if dist > 0 and dist < mindist:
                #print("new closest neigbour ", x.Capital)    
                nneighbour = x.Index
                mindist = round(dist,3)
    nn_list.append((i, nneighbour, mindist))
    
print(len(nn_list))
print(nn_list)

200
[(0, 1, 0.778), (1, 0, 0.778), (2, 3, 0.925), (3, 9, 0.803), (4, 8, 0.667), (5, 10, 0.711), (6, 7, 0.417), (7, 8, 0.189), (8, 7, 0.189), (9, 3, 0.803), (10, 11, 0.303), (11, 10, 0.303), (12, 13, 0.277), (13, 12, 0.277), (14, 19, 0.326), (15, 21, 0.402), (16, 26, 0.666), (17, 18, 0.34), (18, 22, 0.222), (19, 14, 0.326), (20, 15, 0.432), (21, 23, 0.217), (22, 24, 0.132), (23, 21, 0.217), (24, 22, 0.132), (25, 22, 0.336), (26, 27, 0.255), (27, 26, 0.255), (28, 33, 0.359), (29, 34, 0.406), (30, 39, 0.455), (31, 32, 0.218), (32, 31, 0.218), (33, 28, 0.359), (34, 37, 0.263), (35, 28042, 1.614), (36, 42, 0.243), (37, 34, 0.263), (38, 47, 0.992), (39, 30, 0.455), (40, 46, 0.221), (41, 48, 0.404), (42, 45, 0.162), (43, 24638, 0.275), (44, 102, 0.22), (45, 42, 0.162), (46, 40, 0.221), (47, 24638, 0.233), (48, 41, 0.404), (49, 99, 0.184), (50, 51, 0.063), (51, 50, 0.063), (52, 50, 0.101), (53, 50, 0.112), (54, 50, 0.152), (55, 51, 0.118), (56, 52, 0.133), (57, 61, 0.099), (58, 60, 0.09), (59, 56, 0.161), (60, 58, 0.09), (61, 57, 0.099), (62, 55, 0.242), (63, 61, 0.212), (64, 66, 0.113), (65, 68, 0.228), (66, 64, 0.113), (67, 61, 0.353), (68, 65, 0.228), (69, 71, 0.084), (70, 65, 0.334), (71, 69, 0.084), (72, 73, 0.06), (73, 72, 0.06), (74, 71, 0.262), (75, 72, 0.17), (76, 70, 0.366), (77, 75, 0.391), (78, 82, 0.333), (79, 92, 0.5), (80, 82, 0.121), (81, 80, 0.154), (82, 80, 0.121), (83, 77, 0.401), (84, 67, 1.217), (85, 90, 0.134), (86, 82, 0.138), (87, 81, 0.339), (88, 91, 0.079), (89, 94, 0.165), (90, 85, 0.134), (91, 88, 0.079), (92, 116, 0.327), (93, 97, 0.268), (94, 89, 0.165), (95, 90, 0.329), (96, 91, 0.203), (97, 93, 0.268), (98, 116, 0.392), (99, 49, 0.184), (100, 101, 0.269), (101, 100, 0.269), (102, 44, 0.22), (103, 104, 0.149), (104, 103, 0.149), (105, 103, 0.613), (106, 102, 0.404), (107, 28043, 0.88), (108, 28040, 1.134), (109, 111, 0.143), (110, 112, 0.185), (111, 109, 0.143), (112, 114, 0.177), (113, 112, 0.223), (114, 115, 0.14), (115, 114, 0.14), (116, 92, 0.327), (117, 98, 0.729), (118, 115, 0.257), (119, 118, 0.346), (120, 119, 0.396), (121, 113, 1.186), (122, 123, 0.738), (123, 122, 0.738), (124, 122, 0.941), (125, 127, 0.233), (126, 127, 0.873), (127, 125, 0.233), (128, 137, 1.994), (129, 125, 0.784), (130, 132, 0.228), (131, 133, 0.479), (132, 130, 0.228), (133, 138, 0.379), (134, 135, 0.376), (135, 134, 0.376), (136, 139, 0.456), (137, 129, 1.434), (138, 140, 0.253), (139, 136, 0.456), (140, 141, 0.165), (141, 140, 0.165), (142, 150, 0.745), (143, 141, 0.547), (144, 131, 2.423), (145, 149, 0.119), (146, 152, 0.249), (147, 148, 0.05), (148, 147, 0.05), (149, 145, 0.119), (150, 142, 0.745), (151, 153, 0.171), (152, 146, 0.249), (153, 151, 0.171), (154, 153, 0.523), (155, 156, 0.118), (156, 155, 0.118), (157, 156, 0.367), (158, 154, 0.917), (159, 164, 0.839), (160, 156, 0.88), (161, 170, 2.953), (162, 165, 0.191), (163, 166, 0.4), (164, 159, 0.839), (165, 162, 0.191), (166, 163, 0.4), (167, 158, 1.764), (168, 170, 0.111), (169, 172, 2.708), (170, 168, 0.111), (171, 297, 3.018), (172, 173, 1.365), (173, 172, 1.365), (174, 173, 1.64), (175, 176, 1.44), (176, 178, 1.029), (177, 179, 0.65), (178, 177, 0.785), (179, 177, 0.65), (180, 181, 2.427), (181, 180, 2.427), (182, 185, 2.01), (183, 184, 0.046), (184, 183, 0.046), (185, 183, 0.6), (186, 187, 0.529), (187, 186, 0.529), (188, 191, 0.709), (189, 187, 0.631), (190, 193, 0.685), (191, 188, 0.709), (192, 190, 1.768), (193, 194, 0.138), (194, 193, 0.138), (195, 196, 0.725), (196, 195, 0.725), (197, 198, 0.923), (198, 197, 0.923), (199, 209, 0.127)]
Wall time: 18.6 s

In [28]:
28800/200*19

2736.0

In [29]:
smallest = 100000
greatest = 0
for tup in nn_list:
    if tup[2] < smallest:
        town     = tup[0]
        closest  = tup[1]
        smallest = tup[2]
    if tup[2] > greatest:
        town2    = tup[0]
        furthest = tup[1]
        greatest = tup[2]
        
print(town, closest, smallest)
print(town2, furthest, greatest)

183 184 0.046
171 297 3.018