In [1]:
import pandas as pd
import numpy as np

In [2]:
sb2021=pd.read_csv('startbucks.csv')
sb2021

# source: https://www.kaggle.com/datasets/kukuroo3/starbucks-locations-worldwide-2021-version

,Unnamed: 0,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Kowloon,NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin","Shopping Centre, Wong Tai Sin, Kowloon",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638","Prince Edward Road East,",NaN,Kowloon,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,NaN,NaN,香港,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit","1 Trademart Drive, Kowloon Bay",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28284,28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",NaN,NaN,Hattiesburg,MS,39406,-300,Central Standard Time,GMT-06:00 America/Chicago
28285,28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,NaN,NaN,Ada,OK,74820,-300,Central Standard Time,GMT-06:00 America/Chicago
28286,28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",B,NaN,Waycross,GA,31501,-240,Eastern Standard Time,GMT-05:00 America/New_York
28287,28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,NaN,NaN,Waycross,GA,315011949,-240,Eastern Standard Time,GMT-05:00 America/New_York
28288,28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,NaN,NaN,Hartsville,SC,29550,-240,Eastern Standard Time,GMT-05:00 America/New_York

In [3]:
#lowercase all column titles
lower = []
for i in sb2021.columns:
        lower.append(i.lower())
sb2021.columns = lower

sb2021

,unnamed: 0,storenumber,countrycode,ownershiptypecode,schedule,slug,latitude,longitude,streetaddressline1,streetaddressline2,streetaddressline3,city,countrysubdivisioncode,postalcode,currenttimeoffset,windowstimezoneid,olsontimezoneid
0,0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Kowloon,NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin","Shopping Centre, Wong Tai Sin, Kowloon",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638","Prince Edward Road East,",NaN,Kowloon,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,NaN,NaN,香港,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit","1 Trademart Drive, Kowloon Bay",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28284,28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",NaN,NaN,Hattiesburg,MS,39406,-300,Central Standard Time,GMT-06:00 America/Chicago
28285,28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,NaN,NaN,Ada,OK,74820,-300,Central Standard Time,GMT-06:00 America/Chicago
28286,28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",B,NaN,Waycross,GA,31501,-240,Eastern Standard Time,GMT-05:00 America/New_York
28287,28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,NaN,NaN,Waycross,GA,315011949,-240,Eastern Standard Time,GMT-05:00 America/New_York
28288,28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,NaN,NaN,Hartsville,SC,29550,-240,Eastern Standard Time,GMT-05:00 America/New_York

In [4]:
sb2021.isnull().sum().sum()
#wow that's a lot of NaNs

49364

In [6]:
percent_missing = sb2021.isnull().sum() * 100 / len(sb2021)
percent_missing

#schedule, street address line 2 and 3, postal code 
#most or all of these could be dropped, giving me same information as latitude and longitude right?

unnamed: 0                 0.000000
storenumber                0.000000
countrycode                0.000000
ownershiptypecode          0.000000
schedule                  17.975185
slug                       0.000000
latitude                   0.000000
longitude                  0.000000
streetaddressline1         0.003535
streetaddressline2        71.840645
streetaddressline3        81.844533
city                       0.003535
countrysubdivisioncode     0.000000
postalcode                 2.831489
currenttimeoffset          0.000000
windowstimezoneid          0.000000
olsontimezoneid            0.000000
dtype: float64

In [ ]:
#Change column names for specific changes
    sb2021.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)

In [12]:
sb2021['schedule'][0]
#so schedule is a dictionary? 
#and looks like "Today" happens to be Tuesday

"[{'dayName': 'Today', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Friday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Sunday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Monday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}]"

In [15]:
sb2021.columns

Index(['unnamed: 0', 'storenumber', 'countrycode', 'ownershiptypecode',
       'schedule', 'slug', 'latitude', 'longitude', 'streetaddressline1',
       'streetaddressline2', 'streetaddressline3', 'city',
       'countrysubdivisioncode', 'postalcode', 'currenttimeoffset',
       'windowstimezoneid', 'olsontimezoneid'],
      dtype='object')

In [16]:
#drop columns for NaNs/unnecessary information

sb2021_drop = sb2021.drop(['unnamed: 0','streetaddressline2', 'streetaddressline3','countrysubdivisioncode', 'currenttimeoffset', 'windowstimezoneid', 'olsontimezoneid'], axis=1)
sb2021_drop

,storenumber,countrycode,ownershiptypecode,schedule,slug,latitude,longitude,streetaddressline1,city,postalcode
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,NaN
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,NaN
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon,NaN
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港,NaN
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg,39406
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada,74820
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross,31501
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross,315011949
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville,29550

In [17]:
sb2021_drop.columns

Index(['storenumber', 'countrycode', 'ownershiptypecode', 'schedule', 'slug',
       'latitude', 'longitude', 'streetaddressline1', 'city', 'postalcode'],
      dtype='object')

In [26]:
#Change column names for specific changes
sb2021_drop.rename(columns = {'storenumber':'store_number', 'country_code':'country', 'ownershiptypecode':'ownership_type', 'streetaddressline1':'address', 'postalcode': 'zip_code', 'schedule': 'open_hours'}, inplace = True)
sb2021_drop

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,NaN
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,NaN
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon,NaN
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港,NaN
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg,39406
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada,74820
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross,31501
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross,315011949
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville,29550

In [27]:
sb2021_drop

percent_missing = sb2021_drop.isnull().sum() * 100 / len(sb2021)
percent_missing

store_number       0.000000
country            0.000000
ownership_type     0.000000
open_hours        17.975185
slug               0.000000
latitude           0.000000
longitude          0.000000
address            0.003535
city               0.003535
zip_code           2.831489
dtype: float64

In [34]:
sb21 = sb2021_drop  #renaming dataframe after dropping columns

In [35]:
#first deal with NaNs in the schedule column (18% don't show open hours)

hours_NaN = sb21[sb21['open_hours'].isna()]   
hours_NaN

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
13,57658-291775,HK,LS,NaN,mapletree-bay-point-hong-kong-shop-g-01-g-f-ma...,22.315382,114.217050,"Shop G01, G/F, Mapletree Bay Point",Hong Kong,NaN
20,57118-291147,HK,LS,NaN,two-harbour-square-shop-7-g-f-two-harbour-squa...,22.310027,114.220882,"Shop 7, G/F, Two Harbour Square",Hong Kong,NaN
29,54743-286011,HK,LS,NaN,hung-hom-station-shop-no-huhr-1-m-l-hung-hom-s...,22.303007,114.181570,"Shop No.HUHR1, M/L, Hung Hom Station",Hong Kong,NaN
38,53722-284724,HK,LS,NaN,nam-cheong-station-shop-g-13-g-f-nam-cheong-st...,22.326917,114.153605,"Shop G13, G/F, Nam Cheong Station",Hong Kong,NaN
41,59390-293624,HK,LS,NaN,harbour-north-shop-g-20-g-f-harbour-north-hong...,22.292995,114.199348,"Shop G20, G/F, Harbour North",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28242,26291-235224,JP,CO,NaN,aeon-mall-asahikawa-eki-mae-7-2-5-miyashitador...,43.764304,142.357972,7-2-5 Miyashitadori,Asahikawa,070-0030
28243,59730-293558,JP,CO,NaN,asahikawa-kitasaito-1-1-miyamae-2-jo-1-chome-a...,43.761084,142.361242,1-1 Miyamae 2-jo 1-chome,Asahikawa,078-8392
28244,62492-295537,JP,CO,NaN,asahikawa-taisetsu-dori-4-491-2-taisetsudori-a...,43.777491,142.385660,4-491-2 Taisetsudori,Asahikawa,070-0010
28245,31568-111246,JP,CO,NaN,asahikawa-medical-college-hospital-1-1-midorig...,43.729829,142.384410,1-1 Midorigaoka-higashi 2jo 1-chome,Asahikawa,078-8510
28246,47076-251782,JP,CO,NaN,asahikawa-toko-2-6-toko-13-jo-6-chome-asahikaw...,43.742635,142.407044,2-6 Toko 13-jo 6-chome,Asahikawa,078-8353

In [36]:
hours_NaN['country'].value_counts()

JP    1660
KR    1227
TW     504
ID     290
SA     210
MY     162
SG     150
TH     107
KW      86
AE      84
MX      78
US      74
PH      57
QA      39
TR      37
RO      34
CN      34
LB      31
GR      28
BH      27
HK      24
JO      21
HU      16
CA      13
MO      12
BS      12
BG      11
OM      10
SV       7
GB       6
PE       6
ES       4
AW       4
FR       4
PT       3
RU       3
GT       3
BE       2
SK       1
NL       1
PL       1
BN       1
IE       1
Name: country, dtype: int64

In [32]:
# i want to count the number of stores that are in each country 

sb21['country'].value_counts() 
#100% of stores in SG (Singapore) don't show hours 
#most of the stores in Japan, South Korea, Taiwan, Indonesia, Saudi Arabia, Qatar don't show their hours

#I still would like to compare open hours, but maybe should only do it between US and Europe, or just leave out Asia altogether

US    15003
CN     2665
JP     1665
KR     1493
CA     1219
GB      975
MX      612
TW      507
TR      474
ID      422
PH      396
TH      388
MY      317
SA      250
AE      220
KW      181
HK      173
SG      150
AR      111
PE       96
FR       94
ES       91
RU       88
NL       69
PL       62
IE       52
QA       46
LB       43
CZ       40
BH       39
RO       34
GR       32
HU       31
JO       30
BE       30
DE       29
NZ       26
MO       20
AT       17
OM       17
SV       15
BS       13
PT       13
BG       11
GT       10
CL        8
SK        6
AW        5
BN        1
Name: country, dtype: int64

In [46]:
#wanting to look at the hours at the Japan stores that DO have their hours posted
df2 = sb21[sb21['country']=='JP']
df2= df2.dropna(subset=['open_hours'])
df2

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
19587,27804-248768,JP,LS,"[{'dayName': 'Today', 'hours': '9:00 AM to 11:...",kyoto-okazaki-tsutaya-books-13-okazaki-saishoj...,35.013968,135.780994,13 Okazaki-saishojicho Sakyo-ku,Kyoto,606-8342
20157,1838-139192,JP,CO,"[{'dayName': 'Today', 'hours': 'Closed', 'open...",tsukuba-eki-2-128-azuma-tsukuba-08-305-0031-jp,36.082725,140.111313,2-128 Azuma,Tsukuba,305-0031
20356,53555-281731,JP,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",sendai-dainohara-1-8-7-dainohara-aoba-ku-senda...,38.283317,140.872625,1-8-7 Dainohara Aoba-ku,Sendai,981-0911
22216,1840-139885,JP,CO,"[{'dayName': 'Today', 'hours': 'Closed', 'open...",shinkamagaya-3-1-5-shinkamagaya-kamagaya-12-27...,35.774839,140.001106,3-1-5 Shinkamagaya,Kamagaya,273-0107
22856,1841-139924,JP,CO,"[{'dayName': 'Today', 'hours': '8:00 AM to 9:0...",ginza-five-5-1-saki-ginza-chuo-ku-13-104-0061-jp,35.672770,139.762233,5-1saki Ginza,Chuo-ku,104-0061

In [47]:
df2['open_hours'][19587]

"[{'dayName': 'Today', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Friday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Sunday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Monday', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}]"

In [48]:
df2['open_hours'][20157]

"[{'dayName': 'Today', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '6:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Friday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Saturday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Sunday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Monday', 'hours': 'Closed', 'open': False, 'holiday': ''}]"

In [49]:
sb21["open_hours"].fillna("Unknown", inplace = True)
sb21    #alternative could be to use KNN (by latitude/long?) and fill in the hours that way

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,NaN
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,NaN
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon,NaN
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港,NaN
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg,39406
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada,74820
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross,31501
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross,315011949
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville,29550

In [51]:
percent_missing = sb21.isnull().sum() * 100 / len(sb21)
percent_missing

store_number      0.000000
country           0.000000
ownership_type    0.000000
open_hours        0.000000
slug              0.000000
latitude          0.000000
longitude         0.000000
address           0.003535
city              0.003535
zip_code          2.831489
dtype: float64

In [53]:
#gonna drop the zip_code column for now, just don't think it'll be needed

sb21['city'].nunique()    #number of cities that starbucks is in

5457

In [58]:
sb21 = sb21.drop(['zip_code'], axis=1)

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong
...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville

In [59]:
percent_missing = sb21.isnull().sum() * 100 / len(sb21)
percent_missing

store_number      0.000000
country           0.000000
ownership_type    0.000000
open_hours        0.000000
slug              0.000000
latitude          0.000000
longitude         0.000000
address           0.003535
city              0.003535
dtype: float64

In [62]:
sb21[sb21['city'].isna()]     #it's the same row, let's just fill it with "Unknown"

sb21['city'] = sb21['city'].fillna('Unknown')

In [65]:
sb21['address'] = sb21['address'].fillna('Unknown')

In [66]:
percent_missing = sb21.isnull().sum() * 100 / len(sb21)
percent_missing     #no more NaNs!

store_number      0.0
country           0.0
ownership_type    0.0
open_hours        0.0
slug              0.0
latitude          0.0
longitude         0.0
address           0.0
city              0.0
dtype: float64